@import url('https://fonts.cdnfonts.com/css/minecraft-4');

body{
    background-image: url(../img/);
    background-color: sandybrown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: 'Minecraft', sans-serif;
}

/*MENSAJE TURNO DEL JUGADOR*/
#mensajeTurnoJugador{
    font-weight: bold;
    color: #000000;
    font-size: 35px;
    margin-bottom: 20px;
    
}

.contenedorCeldas{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3, 100px);
    gap: 30px;
    margin-bottom: 20px;
}

.celda{
    background: khaki;
    color: orangered;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5 ease;
    font-size: 40px;
    font-weight: bold;
}

.contenedorMensaje{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mensajeGanador{
    font-size: 25px;
}

/*BOTON REINICIAR*/
#btnReiniciar{
    font-family: 'Minecraft', sans-serif;
    font-size: 30px;
    color: #ffffff;
    background-color: #7a7a7a;
    border: 2px solid #000000;
    box-shadow: 2px 2px 0 #000000;
    padding: 8px 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #000000;
    cursor: pointer;
}

#btnReiniciar:hover{
    background-color: #8a8a8a;
}

/*CSS DEL JS*/
.ganador{
    background-color: #7a7a7a;
    color: #000000;
}
