@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.cdnfonts.com/css/minecraftia');

body{
    background-image: url(../img/fondo2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: 'Minecraft', sans-serif;
}

.contenedorFondoGris{
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #C2C2C2;
    font-family: 'Minecraftia', sans-serif;
}

.flecha img{
    width: 100px;
    height: 110px;
}

.mesaCrafteo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;                                     
}

/*MENSAJE TURNO DEL JUGADOR*/
#mensajeTurnoJugador{
    font-weight: bold;
    color: #000000;
    font-size: 25px;
    margin-bottom: 20px;
    
    
}

.contenedorCeldas{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3, 100px);
    gap: 4px;
}

.celda{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8A8A8A;
    font-size: 14px;
    border: 2px solid #000000;
    cursor: pointer;
    transition: all 0.5 ease;
    font-size: 40px;
    font-weight: bold;
}

.celda:hover{
    background-color: #888;
}

.contenedorMensaje{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#mensajeGanador{
    font-size: 25px;
}

/*BOTON REINICIAR*/
#btnReiniciar{
    font-family: 'Minecraft', sans-serif;
    font-size: 30px;
    color: #ffffff;
    background-color: #7a7a7a;
    border: 2px solid #000000;
    box-shadow: 2px 2px 0 #000000;
    padding: 8px 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #000000;
    cursor: pointer;
}

#btnReiniciar:hover{
    background-color: #8a8a8a;
}

/*CSS DEL JS*/
.ganador{
    background-color: #7a7a7a;
    color: #000000;
}

/*MODAL DE VENTANA EMERGENTE PARA ELEGIR GANADOR*/
.modal { 
    position: fixed;
    top: 0; left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
}

.modal h2 {
    margin-top: 0;
    font-size: 20px;
}

.btnFicha {
    background: none;
    border: 2px solid #ccc;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease, border-color 0.3s ease;
}

.btnFicha:hover {
    border-color: #333;
    transform: scale(1.1);
}

.btnFicha.seleccionada {
    border-color: green;
    transform: scale(1.2);
}

.btnFicha img {
    width: 50px;
    height: 50px;
}

#tablero {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
}

.celda {
    display: flex;
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    font-size: 50px;
    background-color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
     
#btnComenzar{
    font-family: 'Minecraft', sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #7a7a7a;
    border: 2px solid #000000;
    box-shadow: 2px 2px 0 #000000;
    padding: 8px 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #000000;
    cursor: pointer;
    width: auto;
    height: auto;
}

#btnComenzar:hover{
    background-color: #8a8a8a;
}

.labelNombre{
    font-family: 'Minecraftia', sans-serif;
    margin-top: 5px;
}
